/* reset css*/

@import url('https://fonts.googleapis.com/css2?family= Poppins :wght@100;200;300;400;500;600 & display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #18181b;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap: 3.5rem;
}

#picture img {
    width: 31rem;
}

#calculator {
    display: flex;
    flex-direction: column;
    color: #f8fafc;
    background-color: #262626;
    border-radius: 8px;
    gap: 2rem;
    padding: 2rem;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h1 {
    font-size: 2.25rem;
    position: relative;
}

.input-box label {
    font-weight: 500;
    font-size: 1.1rem;
    color: #cbd5e1;
}

.input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3f3f46;
    padding: 0.3rem;
    border-radius: 3px;
    margin-top: 0.3rem;
}

.unit,
.icon {
    color: #cbd5e1;
    font-size: 1.3rem;
    padding: 0.6rem;
}

.input-field input {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.3rem;
    color: #f8fafc;
}

.input-field input:focus {
    outline: none;
}

.input-field input::-webkit-outer-spin-button,
.input-field input::-webkit-inner-spin-button {
    appearance: none;
}

#calculate {
    background-color: #fd1b1b;
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: #f8fafc;
    padding: 0.5rem 0;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

h1::after {
    position: absolute;
    content: "";
    width: 8rem;
    height: 3px;
    background-color: #fd1b1b;
    border-radius: 3px;
    left: 0;
    bottom: 0;
}